@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: black;
    padding: 100px;

}

.box {
    display: flex;
    flex-wrap: wrap; 
    max-width: 1200px;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    border: 4px solid #ffffff;
}

.gif-container {
    text-align: center; 
    padding: 100px;
}

.gif {
    max-width: 50px; 
    max-height: 200px; 
}

#typing {
    font-family: 'Azeret Mono', monospace;
    font-size: 24px;
    border-right: 2px transparent #ffffff; 
    color: white; 
}

.boxtwo {
    display: flex;
    flex-wrap: wrap; 
    max-width: 1200px;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    border: 4px solid #ffffff;
}

#mostrarSecao {
    font-family: 'Azeret Mono', monospace;
    font-size: 20px;
    color: white;
    background-color: #000000; 
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

#secaoOculta {
    display: none;
}

#mostrarSecao2 {
    font-family: 'Azeret Mono', monospace;
    font-size: 20px;
    color: white;
    background-color: #000000; 
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    
}

#secaoOculta2 {
    display: none;
    align-items: center; 
}

.gif2 {
    max-width: 800px; 
    max-height: 400px; 
    margin-right: 20px;
}

p {
    font-family: 'Azeret Mono', monospace;
    font-size: 14px;
    color: white; 
}
